<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884641086620-bohv7m0nuegfkrb0ihlqj7m0pjeomjsm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884641086620-bohv7m0nuegfkrb0ihlqj7m0pjeomjsm</string>
	<key>API_KEY</key>
	<string>AIzaSyD3_9q7tvjvHQruIsiRjtKV4H2LqW45WWI</string>
	<key>GCM_SENDER_ID</key>
	<string>884641086620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutternew</string>
	<key>PROJECT_ID</key>
	<string>fireapp-61713</string>
	<key>STORAGE_BUCKET</key>
	<string>fireapp-61713.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884641086620:ios:a265aa4a204c63fb9e0159</string>
</dict>
</plist>